 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>BI</h2>
      <i class="devicon-mysql-plain"></i>
      <img src="/assets/img/powerbi.png" style="width: 30%; height: 15%">
      <p>Microsoft Technology Stack for BI applying the ETL approach using SSIS, SSRS and MSSQL in order to
        visualize data with PowerBi.
      </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-android-plain colored"></i>
      <p>Familiar with JavaScript and Java as well with the main concepts of React.js. Android experienced, C/C++ knowledge
        and	a soupçon of Solidity.  </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <img src="{{ "/assets/img/npm.png" | prepend: site.baseurl }}"/ style="width: 30%; height: 20%">
      <p>Known with various tools that make the life of a software developer easier. Fan of Slack and experienced in agile development.  </p>
    </div>
</div>
