<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="eth" src="{{ "/assets/img/eth2.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Blockchain-based certificate verification</h3>
    <ul>
      <li> Smart Contracts</li>
      <li> React.js</li>
      <li> Geth</li>
    </ul>
    <p>To counter diploma fraud, Blockchain can be used to verify the authenticity by storing the hash of a unique certificate.</p>
    <a class="project-link" target="Project1" href="https://github.com/jgresc/Smart-Verification">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/overlap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Temporal Operators on Partitioned Relations</h3>
    <ul>
      <li>C</li>
    </ul>
    <p>This project addresses the problem of inefficient temporal operations because of overlapping tuples in each relation. Therefore, the relations are split into partitions, in which no tuple overlaps. After this, the operators can be applied more efficiently.</p>
    <a class="project-link" target="Project2" href="https://github.com/jgresc/Temporal-Operators-on-Partitioned-Relations">Check it out</a>
  </div>
</div>
